[Unit]
Description=openBalena Image Maker
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
User={{ service_user }}
Group={{ service_user }}
WorkingDirectory={{ install_root }}/imagemaker
Environment=SERVICE_HOME=/home/{{ service_user }}
Environment=DNS_TLD={{ dns_tld }}
Environment=PUBLIC_TLD={{ public_tld }}
Environment=OPENBALENA_ROOT_CA=/usr/local/share/ca-certificates/openbalena-root-ca.crt
Environment=IMAGEMAKER_DIR={{ install_root }}/imagemaker
ExecStart=/usr/bin/node {{ install_root }}/imagemaker/server.js
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
